body {
    min-height: 100%;
    padding-top: 50px;
}
.sheet {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.navbar-header a.navbar-brand {
    color: darkmagenta;
}
a.bo-api {
    color: darkmagenta;
}
hr {
    height: 3px;
    background-color: darkmagenta;
}
blockquote {
    padding: 0px 20px;
}
blockquote ul {
    padding-left: 0;
}
blockquote ul li {
    list-style-type: none;
    font-size: 14px;
}
blockquote p {
    font-size: 14px;
    font-style: italic;
}
.arguments {
    padding: 0 10px 0 35px;
}
td.arg-name {
    width: 15%;
    border-top: 0px !important;
}
td.arg-desc {
    width: 85%;
    border-top: 0px !important;
}
pre code {
    font-size: 14px;
}