<!DOCTYPE html>
<html>
<head lang="{{ #language }}">
  <meta charset="UTF-8" />
  <title>{{ #title }}</title>
  <meta name="description" content="{{ #description }}" />
  <meta name="keywords" content="{{ #keywords }}" />
  <link rel="stylesheet" href="/css/bootstrap-3.3.6.min.css" />
  <link rel="stylesheet" href="/css/atelier-dune-light.css">
  <link rel="stylesheet" href="/css/shakespeare.css" />
</head>
<body>

{{ layout }}

<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap-3.3.6.min.js"></script>
<script src="/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
